.dashboard-layout {
    display: flex;
    min-height: 100vh;
    height: 100%;
    background-color: var(--background-page);
}

.table-list ul li p {
    color: var(--text-primary);
}

.table-list ul li h2 {
    color: var(--text-primary);
}

.main-content-wrapper {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-content {
    flex: 1 1 0%;
    overflow-x: hidden;
    overflow-y: auto;
}

.main-container {
    max-width: 100%;
    /* Largura máxima do container */
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 1.5rem;
    /* py-8 px-6 */
}

.menu-toggle{
    display: block;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.section-title {
    color: var(--text-primary);
    font-size: 1.5rem;
    font-weight: 700;
}

/* Componente StatCard */
.stat-card {
    background-color: var(--background-surface);
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 var(--shadow-color), 0 1px 2px -1px var(--shadow-color);
}

.stat-card-title {
    color: var(--text-secondary);
    font-size: 0.875rem;
    font-weight: 500;
}

.stat-card-value {
    color: var(--text-primary);
    font-size: 1.875rem;
    font-weight: 600;
    margin-top: 0.25rem;
}

/* Layout da Página */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.page-title {
    color: var(--text-primary);
    font-size: 1.875rem;
    font-weight: 700;
}

.header-actions {
    display: flex;
    gap: 0.5rem;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}

/* Botões */
.btn-secondary {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-tertiary);
    background-color: var(--background-surface);
    border: 1px solid var(--border-color);
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 var(--shadow-color);
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-secondary:hover {
    background-color: var(--background-page);
}

.btn-primary {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-on-primary-button);
    background-color: var(--primary);
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-primary:hover {
    background-color: var(--primary-hover);
}

.action-details {
    font-weight: 500;
    color: var(--primary);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.action-details:hover {
    text-decoration: underline;
}

.table-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 0 1.5rem 0;
    flex-direction: column;
    gap: 1.5rem;

}

/* Tabela */
.table-container {
    background-color: var(--background-surface);
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 var(--shadow-color), 0 1px 2px -1px var(--shadow-color);
}

.table-title {
    color: var(--text-primary);
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.table-wrapper {
    overflow-x: auto;
}

.stock-table {
    width: 100%;
    font-size: 0.875rem;
    text-align: left;
    color: var(--text-secondary);
}

.table-header {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--text-tertiary);
    background-color: var(--background-header-table);
}

.stock-table th,
.stock-table td {
    padding: 0.75rem 1.5rem;
}

.table-row {
    border-bottom: 1px solid var(--border-color);
}

.cell-inbound {
    color: var(--success-color);
}

/* Media Queries para Responsividade */
@media (min-width: 768px) {

    /* md */
    .stats-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .table-list{
        grid-template-rows: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {

    /* lg */
    .stats-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

}